* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background-image: url(Assets/Photo/bgphoto.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.welcome-text {
  font-size: 3em;
  margin: auto;
  padding: auto;
  text-align: center;
  font-family: "arial";
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.welcome-text h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
}
.welcome-text h1 span {
  color: #ffadad;
}
.welcome-text a {
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10vh;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.welcome-text a:hover {
  background: #fff;
  color: #333;
}
