@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#caspioform section {
  background-color: #fff8eb;
  margin: 0px;
  width: 100%;
}
#newcb247CA000ab1237b0ffe24734b586 {
  position: fixed;
  top: -30%;
  opacity: 0;
  visibility: hidden;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff8eb;
}

a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: #9a896d;
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: #655b4b;
  transform: scale(1) !important;
}
h1 {
  text-align: center;
}
